# 主链可执行文件名
chainBinName={{common.chain_bin_name}}
# 浏览器后端服务可执行文件名
backendSvcBinName={{common.explorer_backend_bin_name}}
# 链路资产单位
coinUnit={{common.coin_unit}}
# chain id
chainId={{common.chain_id}}
# admin name
adminName={{common.admin_name}}

commonKeyringDir={{common.keyring_dir}}

commonKeyringBackend={{common.keyring_backend}}

minimumGasPrices={{common.minimum_gas_prices}}