deployDir=$(cd $(dirname $0);pwd)
cd "$deployDir"

isStringInFile() {
    FIND_STR=$1
    FIND_FILE=$2
    # 判断匹配函数，匹配函数不为0，则包含给定字符
    if [ `grep -c "$FIND_STR" $FIND_FILE` -ne '0' ];then
        return 1
    fi
    return 0
}

sedI="sed -i ''"
sysType=$(uname -s)
case $sysType in
    "Linux")
        sedI="sed -i"
        ;;
    "Darwin")
        sedI="sed -i ''"
        ;;
    *)
        $OUTPUT "system $sysType not supported!"
        exit 1
        ;;
esac

#每隔5分钟执行
cronStr="*/5 * * * * su {{ ansible_ssh_user }} -c \"{{ chain_deploy_home_dir }}/deploy.sh -e start-slaves -begin-pos {{ hostvars[inventory_hostname]['begin_pos'] }} --end-pos {{ hostvars[inventory_hostname]['end_pos'] }}\""
isStringInFile "$cronStr" /etc/crontab
if [ $? = 0 ]; then
    sudo echo "$cronStr" >> /etc/crontab
    #重启cron
    sudo service cron restart
fi

rsyslog_conf="/etc/rsyslog.d/50-default.conf"
$sedI "s/#cron.*/cron.*/g" $rsyslog_conf

#重启rsyslog
#sudo service rsyslog restart

